Button {
    -fx-opacity: 0.59;
    -fx-text-fill: blue;
}

#pane{
    -fx-background-image: url("media/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}

Label {
    -fx-text-fill: blue;
}