@font-face {
    font-family: 'BentonSans Regular';
    src: url("../fonts/benton-sans-regular.otf");
}

Button {
    -fx-text-fill: white;
    -fx-border-color: #95989a;
    -fx-border-width: 1;
    -fx-background-color: rgba(44, 44, 44, 0.59);
    -fx-font-size: 31;
    -fx-pref-height: 115;
    -fx-pref-width: 235;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}

Label {
    -fx-text-fill: white;
}

.title{
    -fx-font-size: 64;
}

.content{
    -fx-font-size: 45;
}


Button#red {
    -fx-background-color: rgba(255, 0, 0, 0.59);
}

Button#green {
    -fx-background-color: rgba(0, 255, 0, 0.59);
}

Button#start-race {
    -fx-background-color: rgba(0, 255, 0, 0.59);
    -fx-pref-height: 220;
    -fx-pref-width: 530;
    -fx-font-size: 50;
}

Button.settings-quit {
    -fx-pref-height: 100;
    -fx-pref-width: 180;
}

.pane{
    -fx-background-repeat: stretch;
    -fx-background-size: 1920 1080;
    -fx-background-position: center center;
}

#home{
    -fx-background-image: url("../media/backgrounds/home.jpg");
}

#prepare-race {
    -fx-background-image: url("../media/backgrounds/race-preset.jpg");
}

.block{
    -fx-background-color: rgba(95, 95, 95, 0.59);
    -fx-border-color: #95989a;
    -fx-border-width: 1;
}
