@font-face {
	font-family: 'BentonSans Regular';
	src: url("../fonts/benton-sans-regular.otf");
}

Button, ExitButton, PrepareRaceButton, EditTeamButton, HomeButton, ChampionshipStandingsButton {
    -fx-text-fill: white;
    -fx-border-color: #95989a;
    -fx-border-width: 1;
    -fx-background-color: rgba(44, 44, 44, 0.59);
    -fx-font-size: 31;
    -fx-pref-height: 115;
    -fx-pref-width: 235;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, rgba(44, 44, 44, 0.59), 10, 0, 4, 4);
}

ExitButton:hover, PrepareRaceButton:hover, EditTeamButton:hover, HomeButton:hover, ChampionshipStandingsButton:hover,
.delete:hover {
	-fx-background-color: rgba(255, 0, 0, 0.59);
	-fx-effect: inherit;
}

Button:hover {
	-fx-effect: inherit;
}

Label {
	-fx-text-fill: white;
}

.delete, .create{
	-fx-pref-height: 40;
	-fx-pref-width: 160;
}

.create:hover {
    -fx-background-color: rgba(0, 255, 0, 0.59);
}

.edit-team{
	-fx-pref-height: 115;
	-fx-pref-width: 530;
	-fx-font-size: 42;
	-fx-alignment: center-right;
	contentDisplay: "RIGHT";
}

.title{
	-fx-font-size: 64;
}

.content{
	-fx-font-size: 38;
}


.table-view {
	-fx-font-size: 20;
	-fx-alignment: center-left;
	-fx-background-color: transparent;
}

.table-view * {
	-fx-background-color: transparent;
	-fx-alignment: center-left;
}

Button#red {
	-fx-background-color: rgba(255, 0, 0, 0.59);
}

.green {
	-fx-background-color: rgba(0, 255, 0, 0.59);
}

.scroll-bar {
	-fx-background-color: transparent;
	-fx-border-color: #95989a;
	-fx-border-width: 2;
	-fx-background-insets: 0;
	-fx-background-radius: 2em;
}

.thumb {
	-fx-background-color: white;
	-fx-cursor: hand;
}

.start-race {
	-fx-background-color: rgba(0, 255, 0, 0.59);
	-fx-pref-height: 220;
	-fx-pref-width: 530;
	-fx-font-size: 50;
}

.start-race-red{
    -fx-background-color: rgba(255, 0, 0, 0.59);
    -fx-pref-height: 220;
    -fx-pref-width: 530;
    -fx-font-size: 50;
}

.settings-quit {
	-fx-pref-height: 100;
	-fx-pref-width: 180;
}

.pane{
	-fx-background-repeat: stretch;
	-fx-background-size: 1920 1080;
	-fx-background-position: center center;
}

#home, #current-staff, #game-over{
	-fx-background-image: url("../media/backgrounds/home.jpg");
}

#game-over{
	-fx-background-image: url("../media/backgrounds/game-over.jpg");
}

#prepare-race {
	-fx-background-image: url("../media/backgrounds/race-preset.jpg");
}

#race-result, #your-result, #end-of-season {
	-fx-background-image: url("../media/backgrounds/race-result.jpg");
}

#load-game, #new-team, #new-team-overview, #new-existing {
	-fx-background-image: url("../media/backgrounds/pre-home.jpg");
}


#edit-team, #select-driver {
	-fx-background-image: url("../media/backgrounds/edit-team.jpg");
}

#standings {
	-fx-background-image: url("../media/backgrounds/standings.jpg");
}

.option {
	-fx-padding: 0;
	-fx-font-size: 58;
	-fx-pref-width: 530;
	-fx-pref-height: 200;
}

.select-game {
	-fx-alignment: center-left;
	-fx-font-size: 58;
	-fx-pref-width: 530;
	-fx-pref-height: 200;
}

.block{
	-fx-background-color: rgba(95, 95, 95, 0.59);
	-fx-border-color: #95989a;
	-fx-border-width: 1;
}

.team-container {
	-fx-background-color: rgba(255, 255, 255, 0.59);
	-fx-pref-height: 235;
	-fx-pref-width: 275;
	-fx-cursor: hand;
	-fx-effect: dropshadow(three-pass-box, rgba(44, 44, 44, 0.59), 10, 0, 4, 4);
}

.team-container:hover {
	-fx-effect: inherit;
}

.team-container-text {
	-fx-font-size: 30;
}

#teambutton{
	-fx-background-color: blue;
}

#resultsTable {
	-fx-background-color: rgba(44, 44, 44, 0.00);
}


#resultsTable .label {
    -fx-font-size: 38;
}
#resultsTable .table-cell{
	-fx-text-fill: white;
    -fx-border-color: transparent;
}

.button-xl {
	-fx-pref-width: 300;
}

.font-xl {
	-fx-font-size: 100;
	-fx-text-alignment: center;
}